@using KR.Core.Models
@using KR.Core
@using KR.Core.Mocks
@model Worker
@{
    Layout = "_Layout";
}

            @{ 
                string isSelected(string name, string gender)
                {
                    if (gender == name)
                        return "selected";
                    else
                        return "";
                }
            }

        <form method="post">

            <div>
                <label for="LastName">Фамилия:</label> <br />
                <input type="text" class="form-control" name="LastName" placeholder="Введите фамилию" value="@Model.LastName" autofocus required pattern="[А-Яа-я]{2,}" title=Только буквы русского алфавита. Не менее двух символов" /> <br />

                <label for="BirthDate">Дата рождения:</label> <br />
                <input type="date" name="BirthDate" class="form-control" value="@ViewBag.BirthDate" min="1900-01-01" max="@(WorkersMock.DateMaxValue)" required /> <br />

                <label for="Gender">Пол:</label>
                <select name="Gender" class="form-control" required>
                    <option value="Мужчина" @isSelected("Мужчина", Model.Gender)>Мужчина</option>
                    <option value="Женщина" @isSelected("Женщина", Model.Gender)>Женщина</option>
                </select> <br />

                <label for="EmploymentDate">Дата приема на работу:</label> <br />
                <input type="month" name="EmploymentDate" value="@WorkersMock.ConvertToMonthPicker(Model.EmploymentDate)" class="form-control" required min="2000-01" max="@(WorkersMock.MonthMaxValue)" /> <br />

                <label for="Education">Образование:</label>
                <select name="Education" class="form-control" required>

                    @{
                        foreach (string type in WorkersMock.edTypes)
                        {
                            <option value="@type" @isSelected(type, Model.Education)>@type</option>
                        }
                    }

                </select> <br />

                <label for="Specialty">Специальность:</label><br />
                <input type="text" class="form-control" name="Specialty" value="@Model.Speciality" placeholder="Укажите специальность" pattern="[А-Яа-я\s]{2,}" title="Только буквы русского алфавита. Не менее двух символов" /> <br />

                <label for="MilitaryServiceRelation">Отношение к воинской службе</label> <br />
                <select name="MilitaryServiceRelation" class="form-control" required>
                    <option disabled selected value="">Выберите отношение к воинской службе</option>

                    @{
                        foreach (string type in WorkersMock.militaryServiceRelationTypes)
                        {
                            <option value="@type" @isSelected(type, Model.MilitaryServiceRelation)>@type</option>
                        }
                    }

                </select> <br />

                <input type="submit" value="Принять" class="btn btn-sm btn-outline-secondary" />
                <button type="reset" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/Workers/List'">Отмена</button>
            </div>

        </form>
