@using KR.Core.Models
@using KR.Core.Mocks
@model Worker

@{
    Layout = "_Layout";
}

<h4>Фамилия: @Model.LastName</h4>
<h4>Дата рождения: @WorkersMock.ConvertToDatePicker(Model.BirthDate)</h4>
<h4>Пол: @Model.Gender</h4>
<h4>Дата приема на работу: @WorkersMock.ConvertToMonthPicker(Model.EmploymentDate)</h4>
<h4>Образование: @Model.Education</h4>
<h4>Специальность: @Model.Speciality</h4>
<h4>Отношение к воинской службе: @Model.MilitaryServiceRelation</h4>

<button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/Workers/List'">Вернуться к списку</button>
<button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/Workers/Edit/@Model.ID'">Редактировать</button> 


